.header{
    display: flex;
    width: 70rem;
    justify-content: space-between;
    align-items: center;
    border: 3px solid grey;
    border-radius: 1rem;
    margin: 5rem auto;
    
    &__title{
        margin: 2rem;
        padding-left: 2rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 4rem;
        line-height: 0.8;
    }

    &__scores{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
        padding: 0.5rem 4rem;
        background-color: #fff;
        border: none;
        border-radius: 1rem;

        &-text{
            color: $color-score-text;
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: 2.5px;
        }

        &-num{
            font-size: 4.5rem;
            color: $color-dark-text;
        }
    }
}

.span{
    display: block;
}

.content{
    margin: 3rem auto;
    display: grid;
    position: relative;
    width: 55rem;
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 42rem;
    background-position: 5.5rem 6.5rem;
    &--1{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
    }
    &--2{
        grid-template-columns: repeat(3,1fr);
        background-image: none; 
        justify-content: center; 


             
    }
   

}


.rules{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__btn{
        padding: 1.5rem 4rem; 
        margin: 3rem;
        font-size: 1.6rem;
        font-family: inherit;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid white;
        border-radius: 1rem;
        background-color: $color-radial-gradient;
        letter-spacing: 2px;
        cursor: pointer;
    
    }
    &__btn:hover{
        background-color: #fff;
        color: $color-dark-text;
    }
}
.modal{
    width: 40rem;
    height: 40rem;
    position: fixed;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 22rem;
    left: 51.5rem;

    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 2rem 1rem 2rem;

        &--text{
            font-size: 3.2rem;
            font-family: inherit;
            text-transform: uppercase;
            color: $color-dark-text;
        }

        &--span{
            font-size: 3rem;
            color: #979797;
            cursor: pointer;

        }
    }

    &__svg{
        margin: 2rem 2rem 0 2rem;
        align-self: center;
       
    }
    
}
.overley{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.hidden{
    display: none;
}


